body, section {
  width: 600px;
  height: 500px;
}
table {
  margin-bottom: 5px;
}
td.vertical-center {
  vertical-align: middle !important;
}
.handle {
  cursor: move;
}
.glyphicon-trash {
  cursor: pointer;
}
input[type=submit] {
  margin-bottom: 10px;
  width: 66px;
  margin-right: 5px;
}
