body, section {
  width: 600px;
  height: 500px;
}
table {
  margin-bottom: 5px;
}
td.vertical-center {
  vertical-align: middle !important;
}
.handle {
  cursor: move;
}
.sortable-placeholder {
  height: 41px;
}
.glyphicon-trash {
  cursor: pointer;
}
input[type=submit] {
  margin-bottom: 10px;
  width: 66px;
  margin-right: 5px;
}
.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
  pointer-events: none;
}